.company_nav {
    width: 100vw;
    height: 84px;
    background-color: white;
    display: flex;
    position: relative;
    padding-right: 20px;
}

.small-logo {
    height: 100%;
}

.actions {
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
}

.sidebar-icon {
    height: 40px;
    margin-left: 50px;
    cursor: pointer;
}

.sidebar-icon:hover{
    color: #2977C9;
}